.fadein-img-placeholder {
  display: inline-block;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.fadein-img-small {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.2s linear;
}

.fadein-img-large {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s linear;
}

.fadein-img-placeholder .loaded {
  opacity: 1;
}

.fadein-img-small {
  filter: blur(25px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}