.artist-info-container {
  padding: 20px 0;
  display: flex;

  & .artist-avatar {
    display: inline-block;
    & > img {
      height: 350px;
      width: 350px;
    }
  }

  & .artist-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;

    & .artist-name {
      margin: 0;
    }

    & .artist-followers {
      margin: 10px 0;
      color: $font-color-main;
    }

    & .artist-description {
      margin: 10px 0;
      font-size: 1.2rem;
      overflow: scroll;
      height: 240px;
      width: 500px;
      color: $font-color-sub;
      white-space: pre-wrap;
    }
  }
}

.artist-tracks-container {

}
