// Used in genre list
.button.inline {
    float: none;
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: .4em .75em;
    font-size: 10px;
}

.icon-button {
  padding: 4px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}
