html {
    font-family: 'Open Sans';
    /* Always put font-size here so that we could apply rem */
    font-size: 14px;
}

body {
    color: white;
    background-color: $background-color;
    padding-top: $nav-height;
}

// Override all links
a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $link-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.main {
    padding: 10px;
}

// Resets container from bootstrap
.container {
    padding: 0;
}

.content {
    margin: 40px 0 80px;
}

.table-display {
    display: table;
}

.table-item {
    display: table-cell;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}



.pad-bottom {
    padding-bottom: 70px;
}

.container-fluid {
    padding: 0;
}
