nav {
    background-color: $nav-bg-color;
    height: $nav-height;
}

.nav-wrapper {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

// The wrapper of search input and user info, need a better name?
.nav-search-user-wrapper {
    display: flex;
}

.navbar-brand {
    height: $nav-height;
    line-height: 35px;
}

.nav-icon {
    margin-right: 20px;
}


/* Navbar search */

.nav-search {
    padding: 20px 0;
    display: inline-block;
    border-radius: 3px;
    .form-group {
        position: relative; //relative must be put on a block element
        margin-bottom: 0;
        i {
            position: absolute;
            top: 5px;
            left: 10px;
            color: $font-color-sub;
            pointer-events: none;
        }
    }
}

.nav-search-result {
    width: $dropdown-search-width;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
    @include desktop {
        width: $dropdown-search-width-md;
    }
    @include desktop-lg {
        width: $dropdown-search-width-lg;
    }
    position: absolute;
    background-color: $dropdown-search-result-bg-color;
    display: block;
    width: $dropdown-search-width;
    max-height: $dropdown-search-max-height;
    padding: 10px 10px 5px 10px;
    z-index: 1;
    ul:last-child {
        margin-bottom: 0;
    }
}

.dropdown-item-show-all {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.dropdown-show-all-link {
    color: $font-color-sub;
    vertical-align: middle;
    font-size: 0.9rem;
    padding: 10px 10px 0 10px;
}

.dropdown-title {
    text-align: center;
    font-size: 0.9rem;
    color: $font-color-sub;
    margin-bottom: 10px;
}

.dropdown-item-wrapper {
    display: flex;
}

.dropdown-list {
    & .dropdown-item {
        padding: 8px 10px;
        white-space: nowrap;
        cursor: pointer;
        border-bottom: 1px solid $separator-color-dark;
        &:hover {
            background: $separator-color-dark;
        }
    }
    & .dropdown-item-image {
        width: 25px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
    }
    & .dropdown-item-title {
        vertical-align: middle;
        color: $font-color-main;
        display: inline-block;
        width: $dropdown-search-title-width;
        @include desktop {
            width: $dropdown-search-title-width-md;
        }
        //
        @include desktop-lg {
            width: $dropdown-search-title-width-lg;
        }
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.nav-search-input {
    display: inline-block;
    border: none;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 0.9rem;
    outline: 0;
    height: $dropdown-search-input-height;
    width: $dropdown-search-width;
    @include desktop {
        width: $dropdown-search-width-md;
    }
    @include desktop-lg {
        width: $dropdown-search-width-lg;
    }
    border-radius: 5px;
    padding: 6px 10px 6px 30px;
    color: $font-color-main;
    font-weight: 300;
    background-color: $dropdown-search-bg-color;
    transition: all 0.2s ease-in-out;
}

.nav-user-link {
    display: inline-block;
    color: $nav-user-font-color;
    &:hover {
        cursor: pointer;
    }
    margin-left: 20px;
    .fa-github {
        font-size: 28px;
    }
    .ion-person {
        margin-left: 20px;
        font-size: 20px;
    }
}

.nav-user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user-profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 20px;
}

.nav-user-display-name {
    margin-left: 10px;
}

// This should be moved to search
// input[type="search"] {
//     display: inline-block;
//     padding: 0 0.875rem;
//     border: none;
//     color: #222;
//     text-align: left;
//     font-family: 'Open Sans';
//     font-size: 12px;
//     outline: 0;
//     border-radius: 3px;
//     transition: all 0.2s ease-in-out;
// }