$volume-icon-size: 1.5rem;

.player {
    // Fix it on bottom left.
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $player-bg-color;
    border-top: 1px solid $player-border-color;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: $z-max; // Make sure it is always on top

    .song-card-details {
        overflow: hidden;
    }
}

.player-section {
    display: flex;
    // Vertically center!
    align-items: center;

    & + .player-section {
        margin-left: 40px;
    }
}

.player-main {
    display: flex;
    padding: 8px;
}

.player-image {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
    // why?
    flex-shrink: 0;
}

.player-button {
    padding: 4px;

    &:hover {
      & i {
        color: $theme-color;
      }
    }

    &.active {
      color: $theme-color;
    }

    & + .player-button {
        margin-left: 30px;
    }

}

.player-btn-wrapper {
  & + .player-btn-wrapper {
    margin-left: 30px;
  }
}

.player-seek {
    flex: 1;
}

.player-seek-bar-wrap {
    padding: 6px 0;
    flex: 1;

    &:hover {
        cursor: pointer;
    }
}

.player-seek-bar {
    position: relative;
    height: 2px;
    background-color: #ddd;
}

.player-seek-duration-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $theme-color;
}

.player-seek-handle {
    position: absolute;
    top: -5px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $white;
}

.player-time {
    margin-left: 30px;
    color: $white;
    font-size: 11px;
}

.player-time-divider {
    margin: 0 10px;
}

.player-volume {
    margin-left: 30px;
    width: 100px;
}

.player-volume-button {
    width: 12px;
}

.player-volume-button-wrap {

    & > button > i {
      font-size: $volume-icon-size;
      color: $player-button-color;
    }

    position: relative;
}

.player-song-card-details {
  display: flex;
  flex-direction: column;
  width: 200px;
  & .song-card-title {
  }

  & .song-card-username {
    width: 180px;
  }
}

.ion-ios-list {
  font-size: 16px;
}
