.sidebar-wrapper {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-bg-color;

    @include desktop {
        width: $sidebar-width-md;
    }

    @include desktop-lg {
        width: $sidebar-width-md;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    & > li {
        line-height: $sidebar-item-height;
    }
}

.nav-sidebar i {
    font-size: 15px;
    margin-right: 10px;
}

.nav-sidebar > li > a {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    text-align: center;
    color: $font-color-main;
    transition: color 0.25s ease-out;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $link-color-hover;
    }
}

.sidebar-link-active {
  text-decoration: none;
  color: #fff;
  background: $sidebar-link-active-bg-color;
}
