/*
 * Sidebar
 */

#sidebar-wrapper {
    position: fixed;
    width: $sidebar-width;

    @include desktop {
        width: $sidebar-width-md;
    }

    @include desktop-lg {
        width: $sidebar-width-md;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    & > li {
        line-height: 80px;
    }
    list-style: none;
}

.nav-sidebar i {
    font-size: 15px;
    margin-right: 10px;
}

.nav-sidebar > li > a {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    text-align: center;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #fff;
        background: $sidebar-link-active-color;
    }
}

.sidebar-link-active {
  text-decoration: none;
  color: #fff;
  background: $sidebar-link-active-color;
}
