.song-card-list-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
//
// .card {
//     background-color: $background-color;
//     border: 1px solid $light-light-black;
// }

.song-card {
    padding: 11px;
    width: $song-card-width;
    background-color: $background-color;
    @include desktop {
        width: $song-card-width-md;
    }

    @include desktop-lg {
        width: $song-card-width-lg;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active {
        border-color: $theme-color;
    }
}

.song-card-image {

    display: block;
    width: 100%;
    height: $song-card-image-height;

    @include desktop {
        height: $song-card-image-height-md;
    }

    @include desktop-lg {
        height: $song-card-image-height-lg;
    }

    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}


.toggle-play-button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.active {
        background-color: $semi-transparent-bg-dark;

        .toggle-play-button-icon {
            position: relative;
            opacity: 1;
            z-index: 2;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);

        .toggle-play-button-icon {
            opacity: 1;
        }
    }
}

.toggle-play-button-icon {
    color: $theme-color;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}



.song-card-user {
    display: block;
    width: 100%;
}

.song-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    // NO FLOATING CHANGE IT TO FLEX
    float: left;
}

.song-card-details {
  position: relative;
}

.song-card-username {
    display: block;
    color: $sub-font-color;
    margin-right: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-title {
    display: block;
    color: $main-font-color;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-controls {
  margin-top: 10px;

  button + button {
    margin-left: 20px;
  }

  i {
    color: $light-gray;

    &:hover {
      color: white;
    }

    // Move to global in icons.scss
    &.active {
      color: $theme-color;
    }
  }

}
