.track-info-container {
  padding: 20px 0;
  display: flex;

  & .track-avatar {
    display: inline-block;
    position: relative;

    // Big icon for play pause button in Track Details Page
    .icon-big {
      font-size: 80px;
    }
  }

  & .track-image {
    width: 350px;
    height: 350px;
  }

  & .image-details-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 5px;
    background: rgba(0,0,0,0.6); // Transparent background

    & >span {
      flex-grow: 1;
      & .fa {
        display: inline-block !important;
        &.fa-heart {
          &:hover {
            cursor: pointer;
          }
          &.active {
            color: $theme-color;
          }
        }
      }
    }
  }

  & .track-details {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;

    & .track-title {
      margin-bottom: 10px;
    }

    & .track-artist-name {
      margin: 5px 0;
      color: $font-main-color;
    }

    & .track-description {
      margin: 10px 0;
      color: $font-sub-color;
      height: 180px;
      width: 500px;
      overflow: scroll; // Should use a ShowMore button.
      font-size: 1.2rem;
      white-space: pre-wrap;
    }

    & .track-controls {
      position: absolute;
      display: inline;
      bottom: 10px;

      > button {
        margin-right: 15px;
        color: $font-sub-color;

        &:hover {
          color: $font-main-color;
        }

        > i {
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
      // For all the icons under track-controls
    }
  }
}

.comments-container {
  font-size: 1.2rem;
  // Make sure spinner is not hided by player.
  padding-bottom: 70px;
  .comment-item {
    position: relative;
    display: flex; // To prevent comment body go under the image.
    padding: 5px 5px;
    border-bottom: 1px solid $separatorDarkColor;
  }

  .comment-artist-avatar {
    width: 35px;
    height: 35px;
  }

  .comment-title {
    margin: 20px;
  }

  .comment-created-at {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $font-sub-color;
  }

  .comment-body {

    color: $font-main-color;
  }

  .comment-header {
    margin-bottom: 5px;
  }
}
