$profile-pic-width-sm: 250px;
$profile-pic-width-md: 280px;
$profile-pic-width-lg: 300px;
$profile-pic-width-4k: 400px;

$profile-pic-height-sm: 250px;
$profile-pic-height-md: 280px;
$profile-pic-height-lg: 300px;
$profile-pic-height-4k: 400px;


.user-info-container {
  padding: 20px 0;
  display: flex;

  & .user-avatar {

    display: inline-block;
    
    width: $profile-pic-width-md;
    height: $profile-pic-height-md;
    @include desktop {
      width: $profile-pic-width-md;
      height: $profile-pic-height-md;
    }

    @include desktop-lg {
      width: $profile-pic-width-lg;
      height: $profile-pic-height-lg;
    }

  height: $profile-pic-height-md;
  width: $profile-pic-width-md;

  &:hover {
    cursor: pointer;
  }
}

  & .user-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;

    & .user-name {
      margin: 0;
    }

    & .user-followers {
      margin: 10px 0;
      color: $font-color-main;
    }

    & .user-description {
      margin: 10px 0;
      font-size: 1.2rem;
      overflow: scroll;
      height: 240px;
      width: 500px;
      color: $font-color-sub;
      white-space: pre-wrap;
    }
  }
}