{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [ "react" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
