// Colors
$grey: #333333;
$white: white;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaaaaa;
// Navigation colors
$nav-background: $grey;
$nav-text-color: $white;
$clock-text-color: $white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
