@value desktop-sm, desktop-md, desktop-lg, desktop-4k "client/styles/common/breakpoints.css";
@value colors: "client/styles/common/colors.css";

@value song-card-width: 300px;
@value song-card-width-md: 210px;
@value song-card-width-lg: 230px;
@value song-card-width-4k: 350px;

@value song-card-details-width: 220px;
@value song-card-details-width-md: 150px;
@value song-card-details-width-lg: 170px;
@value song-card-details-width-4k: 290px;

@value song-card-image-height: 180px;
@value song-card-image-height-md: 140px;
@value song-card-image-height-lg: 160px;
@value song-card-image-height-4k: 220px;

@value background-color-primary, theme-color, semi-transparent-dark, semi-transparent-light, font-color-primary, font-color-secondary from colors;

@media desktop-md  {
  .song-card {
    width: song-card-width-md;
  }

  .song-card-details {
    width: song-card-details-width-md;
  }
}

@media desktop-lg {
  .song-card {
    width: song-card-width-lg;
  }

  .song-card-details {
    width: song-card-details-width-lg;
  }
}

@media desktop-4k {
  .song-card {
    width: song-card-width-4k;
  }

  .song-card-details {
    width: song-card-details-width-4k;
  }
}

.card {
    background-color: background-color-primary;
    box-shadow: 0 0 12px 8px semi-transparent-light;
}

.song-card {
    composes: card;
    padding: 11px;
    /*width: song-card-width;*/
    background-color: background-color-primary;
    margin: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.song-card:active {
  border-color: theme-color;
}*/

.song-card-active {
  composes: song-card;
  border-color: theme-color;
}

.song-card-image {
    display: block;
    width: 100%;
    height: song-card-image-height;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.song-card-image:hover {
  cursor: pointer;
}


.toggle-play-button {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.toggle-play-button-active {
  composes: toggle-play-button;
  background-color: semi-transparent-dark;
}


.toggle-play-button:hover {
  background-color: semi-transparent-dark;
}

.toggle-play-button:hover .toggle-play-button-icon {
  opacity: 1;
}

.toggle-play-button:focus {
  outline: 0;
}

.toggle-play-button-active .toggle-play-button-icon {
  position: relative;
  opacity: 1;
  z-index: 2;
}

.toggle-play-button-icon {
  color: theme-color;
  font-size: 24px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.song-card-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.song-card-details {
  display: flex;
  flex-direction: column;
}

.song-card-username {
  display: block;
  color: font-color-secondary;
  margin-right: 30px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-card-title {
  color: font-color-primary;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*.song-card-controls {
  margin-top: 10px;

  button + button {
    margin-left: 20px;
  }

  i {
    color: $light-gray;

    &:hover {
      color: white;
    }

    // Move to global in icons.scss
    &.active {
      color: $theme-color;
    }
  }

}*/

.song-card-controls {
  margin-top: 10px;
}
.song-card-controls button + button {
  margin-left: 20px;
}
/*.song-card-controls i {
  color: font-color-secondary;
}
.song-card-controls i:hover {
  color: font-color-primary;
}
.song-card-controls i.active {
  color: theme-color;
}*/
