@value colors: "client/app/styles/common/colors.css";
@value theme-color, font-color-primary, font-color-secondary from colors;

.icon-button {
  color: font-color-primary;
  padding: 4px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}

.icon-button-active {
  composes: icon-button;
  color: theme-color;
}

.icon-button:hover {
  color: font-color-secondary;
}