* {
    margin: 0;
    padding: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

body {
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: $background-color;
    padding-top: $navbar-height;
}

.main {
  padding: 10px;
}

.container {
  padding:0;
  margin: 0 auto;
}

.content {
    margin: 40px 0 80px;
}

.table-display {
  display: table;
}

.table-item {
  display: table-cell;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 10px 0 30px;
  font-weight: 300;
  font-size: 3rem;
}
// 
// .hide {
//   visibility: hidden;
// }
