nav {
  background-color: $nav-bar-color;
  height: $navbar-height;
}

.navbar-brand {
  height: $navbar-height;
  line-height: 35px;
}

#nav-icon {
  margin-right: 20px;
}

// // nav-search
.nav-search {
  position: relative;
  padding: 20px 0; // Vertical center
  display: inline-block;
  float: right;
  border-radius: 3px;
  .form-group {
    position: relative;//relative must be put on a block element
    margin-bottom: 0;
    i {
      position: absolute;
      top: 5px;
      left: 10px;
      color: #808080;
      pointer-events: none;
    }
  }

  .nav-search-input {
    border-bottom: 1px solid $light-gray;
  }
}

.nav-search-result {
  position: absolute;
  background-color: $sidebar-color;
  display: block;
  width: 400px;
  height: 500px;
  padding: 10px;
  z-index: 1;
}

.nav-search-result-title {
  text-align: center;
  font-size: 1.6rem;
  color: $font-sub-color;
  margin-bottom: 10px;
}

.nav-search-result-list {
  & .nav-search-result-item {
    padding: 8px 10px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid $separatorDarkColor;
    &:hover {
      background: $separatorDarkColor;
    }
  }

  & .nav-search-result-item-image {
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .nav-search-result-item-username {
    color: $font-main-color;
    display: inline-block;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

input[type="search"].nav-search-input {
  height: 30px;
  width: 400px;
  padding: 6px 10px 6px 30px;
  color: #e3e3e3;
  font-weight: 300;
  background-color: #2B2B2B;
}


.nav-user-link {
    display: inline-block;
    color: #fff;
    &:hover {
        cursor: pointer;
    }
    margin-left: 20px;

    .fa-github {
      font-size: 28px;
    }

    .ion-person {
        margin-left: 20px;
        font-size: 20px;
    }

    .ion-chevron-down, .ion-chevron-up {
        margin-left: 6px;
        color: #6B6B6B;
        font-size: 10px;
    }
}
