nav {
  background-color: $nav-bar-color;
  height: $navbar-height;
}

.navbar-brand {
  height: $navbar-height;
  line-height: 35px;
}

#nav-icon {
  margin-right: 20px;
}

// // nav-search
.nav-search {
  padding: 20px 0; // Vertical center
  display: inline-block;
  float: right;
  border-radius: 3px;
  .form-group {
    position: relative;//relative must be put on a block element
    margin-bottom: 0;
    i {
      position: absolute;
      top: 5px;
      left: 10px;
      color: #808080;
      pointer-events: none;
    }
  }
}

input[type="text"].nav-search-input {
  height: 30px;
  width: 290px;
  padding: 6px 10px 6px 30px;
  color: #e3e3e3;
  font-weight: 300;
  background-color: #2B2B2B;
}


.nav-user-link {
    display: inline-block;
    float: right;
    color: #fff;
    &:hover {
        cursor: pointer;
    }

    .ion-person {
        margin-left: 30px;
        font-size: 20px;
    }

    .ion-chevron-down, .ion-chevron-up {
        margin-left: 6px;
        color: #6B6B6B;
        font-size: 10px;
    }
}
