// For player visible playlist

.playlist {
  width: 400px;
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll; /* Scrollable contents if viewport is shorter than content. */
  background-color: $sidebar-color;
}

.playlist-container {
  padding-top: 20px;
}

.playlist-title {
  margin-bottom: 10px;
  text-align: center;
  color: $light-gray;
  font-size: 1.6rem;
  font-weight: bold;// Not working?

  & span {
    margin: 10px;
  }
}

.playlist-list {

}

.playlist-item {
  font-size: 13px;
  color: $font-main-color;
  border-bottom: 1px solid $separatorDarkColor;
  padding: 12px 20px;
  white-space: nowrap;
  cursor: pointer;

  &.active {
    cursor: default;
  }

  &:hover,
  &.active {
    background: $separatorDarkColor;
  }



  &:last-child {
      border-bottom: none;
  }

  & span {
    display: inline-block;
  }

  & .playlist-item-index,
  & .playlist-item-title,
  & .playlist-item-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .playlist-item-index {
    width: 20px;
  }

  & .playlist-item-title {
    width: 180px;
    margin-right: 10px;
  }

  & .playlist-item-username {
    color: $font-sub-color;
    width: 140px;
  }
}

.playlist-item-options-container {
  display: inline-block;
    position: relative;
    width: 10px;
    text-align: center;
    height: 17px;

    &:hover {
        .playlist-item-options-list,
        .playlist-item-popup-arrow {
            display: block;
        }
    }
}

.playlist-item-options-list {
    display: none;
    position: absolute;
    right: 19px;
    top: -11px;
    background: $separatorCleanColor;
    z-index: 10;
    border-radius: 2px;

    & li:last-child {
        border-bottom: none;
    }
}

.playlist-item-options-list_button {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $separatorDarkColor;

    &:hover {
        background: $separatorDarkColor;
    }
}

.playlist-item-popup-arrow {
    display: none;
    position: absolute;
    top: -3px;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #3E3E40;
}
