.track-info-container {
  padding: 20px 0;
  display: flex;

  & .track-avatar {
    display: inline-block;
    position: relative;
  }

  & .track-image {
    width: 350px;
    height: 350px;
  }

  & .image-details-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 5px;
    background: rgba(0,0,0,0.6); // Transparent background

    & >span {
      flex-grow: 1;
      & .fa {
        display: inline-block !important;
        &.fa-heart {
          &:hover {
            cursor: pointer;
          }
          &.active {
            color: $theme-color;
          }
        }
      }
    }
  }

  & .track-details {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;

    & .track-title {
      margin-bottom: 10px;
    }

    & .track-artist-name {
      margin: 5px 0;
      color: $font-main-color;
    }

    & .track-description {
      margin: 10px 0;
      color: $font-sub-color;
      width: 500px;
      font-size: 1.2rem;
      white-space: pre-wrap;
    }

    & .track-controls {
      position: absolute;
      display: inline;
      bottom: 10px;

      > button {
        margin-right: 15px;
        color: $font-sub-color;

        &:hover {
          color: $font-main-color;
        }

        > i {
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
      // For all the icons under track-controls
    }
  }
}
