* {
    margin: 0;
    padding: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

body {
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: $background-color;
    padding-top: $navbar-height;
}

// .container {
//     width: 1200px;
//     margin: 0 auto;
// }

.content {
    margin: 40px 0 80px;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
//   color: #fff;
//   font-weight: 600;
// }

h1 {
  margin: 10px 0 30px;
  font-weight: 300;
  font-size: 3rem;
}
