.grid {
    width: 100%;
}

.songs-row {
  margin-top: 20px;
}

.grid:before,
.grid:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-5 {
    width: 20%;
}

.col-3-10 {
    width: 30%;
}

.col-7-10 {
    width: 70%;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

// .fade {
//   transition: all 0.4s ease-out;
//   opacity: 0;
//   height: 2em;
// }
// .fade div.show {
//   opacity: 1;
// }
