.charts-header {
  padding: 20px 0 0 20px;
}

.charts-title {
  margin: 30px 20px;
  font-weight: 300;
  font-size: 3rem;
}

.genre-list {
    width: 100%;
    overflow: hidden;
    height: 105px;
    transition: height 0.4s;
    margin: 0 0 20px 0;

    &:hover{
      height: 250px;
    }

    .title {
      font-size: 13px;
      color: #a9aaae;
    }
}

// This has been extracted to _link-button.scss
// Elements with .button that are descendant of an element with .genre-selector
// .genre-list .button {
//     width: 19%;
//     text-align: center;
//     color: #ededed;
//     background: transparent;

//     border: 1px solid;
//     border-radius: .25em;

//     font-size: 13px;
//     letter-spacing: 1px;

//     margin-top: 5px;
//     margin-left: 1em;
//     padding: .75em 0;

//     &:hover {
//         color: $link-color-hover;
//         cursor: pointer;
//         & span {
//             cursor: pointer;
//         }
//     }

//     &:focus {
//         outline: none;
//     }
// }
