/* App layout */

#page-content-wrapper {
    // position: absolute;
    margin-left: $sidebar-width;
    padding: 20px 20px 20px 50px;
    @include desktop {
        margin-left: $sidebar-width-md;
        padding: 20px 20px 20px 50px;
    }
    @include desktop-lg {
        margin-left: $sidebar-width-md;
        padding: 20px 20px 20px 50px;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}