// Song Card
// Variables
$song-card-width: 300px;
$song-card-width-md: 210px;
$song-card-width-lg: 230px;
$song-card-width-4k: 350px;
$song-card-details-width: 240px;
$song-card-details-width-md: 150px;
$song-card-details-width-lg: 170px;
$song-card-details-width-4k: 290px;
$song-card-image-height: 180px;
$song-card-image-height-md: 140px;
$song-card-image-height-lg: 160px;
$song-card-image-height-4k: 200px;
.song-card-list-container {
    // justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: $background-color;
    border: 1px solid $light-light-black; // Border depth effect
    // http://www.cssmatic.com/box-shadow
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.22);
}

.song-card {
    padding: 11px;
    width: $song-card-width;
    background-color: $background-color;
    margin: 10px 20px 20px;
    @include desktop {
        width: $song-card-width-md;
    }
    @include desktop-lg {
        width: $song-card-width-lg;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.active {
        border-color: $theme-color;
    }
}

.song-card-image {
    display: block;
    width: 100%;
    height: $song-card-image-height;
    @include desktop {
        height: $song-card-image-height-md;
    }
    @include desktop-lg {
        height: $song-card-image-height-lg;
    }
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
        cursor: pointer;
    }
}

.toggle-play-button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &.active {
        background-color: $semi-transparent-bg-dark;
        .toggle-play-button-icon {
            position: relative;
            opacity: 1;
            z-index: 2;
        }
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        .toggle-play-button-icon {
            opacity: 1;
        }
    }
}

.toggle-play-button-icon {
    color: $theme-color;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

// Because of the nature of styled-components, it can not style Link from react-router-dom!!
.song-card-title {
    display: -webkit-box;
    color: $font-color-main;
    font-size: 1.05rem;
    font-weight: bold;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
}

/* Multiple line ellipis */
// .block-with-text {
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;  
// }

.song-card-username {
    margin-left: 10px;
    color: $font-color-sub;
    font-size: 0.9rem;
}