// Colors
$light-black: rgb(29, 31, 33);
$black: rgb(15, 16, 16);
$background-color: $light-black;
$sidebar-color: rgb(22,24,25);

$player-background-color: $sidebar-color;
$theme-color: #ff6600;
// $nav-bar-color: #3a3f41;
$nav-bar-color: black;

$font-color: white;
$link-color: white;

$player-button-color: #CCC;
$button-hover-color: #222;
