// Colors
$light-black: rgb(29, 31, 33);
$black: rgb(15, 16, 16);
$background-color: $light-black;
$sidebar-color: rgb(22,24,25);

$player-background-color: $sidebar-color;
$theme-color: #ff6600;
// $nav-bar-color: #3a3f41;
$nav-bar-color: black;

$font-color: white;
$link-color: white;

$player-button-color: #CCC;
$button-hover-color: #222;

// Navbar
$navbar-height: 70px;

$light-gray: rgb(129, 131, 135);


$bodyBackground: #121314;
$sectionBackground: #222326;
$linkColor: #a9aaae;
$defaultColor: #949599;
$separatorCleanColor: #3e3e40;
$separatorDarkColor: #000;
$scColor: #f50;
$transitionValue: all 0.5s ease;
$transitionFastValue: all 0.25s ease;
$transitionInstantValue: all 0.1s ease-out;
