/* my-component.css */
/* alias paths for other values or composition */
/*@value colors: "./colors.css"; */
/* import multiple from a single file */
/*@value primary, secondary from colors;*/
/* make local aliases to imported values */
@value desktop-sm, desktop-md, desktop-lg, desktop-4k from "../../styles/common/breakpoints.css";

/*composes: text-primary from colors;*/
/*$sidebar-item-height: 80px;
$sidebar-bg-color: $light-black;
$sidebar-width: 250px;
$sidebar-width-md: 230px;
$sidebar-width-sm: 180px;
$sidebar-link-active-bg-color: rgba(255,255,255,0.2);*/

@value sidebar-bg-color: #1d1f21;
@value sidebar-item-height: 80px;
@value sidebar-link-bg-color-active: rgba(255,255,255,0.2);
@value sidebar-width-sm: 180px;
@value sidebar-width-md: 230px;
@value sidebar-width-lg: 250px;


@media desktop-md  {
  .sidebar-wrapper {
    width: sidebar-width-md;
  }
}

@media desktop-lg {
  .sidebar-wrapper {
    width: sidebar-width-lg;
  }
}

@media desktop-4k {
  .sidebar-wrapper {
    width: sidebar-width-lg;
  }
}

.sidebar-wrapper {
  position: fixed;
  height: 100%;
  background-color: sidebar-bg-color;
}

/* Sidebar navigation */

.nav-sidebar > li {
  line-height: sidebar-item-height
}

.nav-sidebar i {
    font-size: 15px;
    margin-right: 10px;
}

.nav-sidebar > li > a {
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  text-align: center;
  color: #ededed;
  transition: color 0.25s ease-out;
}

.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus, .nav-sidebar > li > a:active {
  text-decoration: none;
  color: #949599;
}


.sidebar-link-active {
  text-decoration: none;
  color: #fff;
  background: sidebar-link-bg-color-active;
}
