// #TODO: move every single variables here and reuse, but what if this file gets really big?

// Basic colors for other variables to refer.
$black: #0f1010;
$light-gray: #CCC;
$gray: #949599;
$dark-gray: #4f4f51;
$white: #ededed;
$semi-transparent-bg-dark: rgba(0, 0, 0, 0.8);
$light-black: #1d1f21;
$light-light-black: #242728;
$orange: #f50;

// z-index max value: always on top
$z-max: 1001;

// Main bg color
$background-color: $light-light-black;

$theme-color: $orange;

$font-color-sub: $light-gray;
$font-color-main: $white;

// Links
$link-color: $white;
$link-color-hover: $gray;
// Buttons
$button-color-hover: #222;


// Background color of dropdown list in playlist
$separator-color-clean: $dark-gray;
$separator-color-dark: $black;

// Nav
$nav-height: 70px;
$nav-bg-color: $light-black;
$nav-user-font-color: $font-color-main;


// Sidebar
$sidebar-item-height: 80px;
$sidebar-bg-color: $light-black;
$sidebar-width: 250px;
$sidebar-width-md: 230px;
$sidebar-width-sm: 180px;
$sidebar-link-active-bg-color: rgba(255,255,255,0.2);


// Song Card
$song-card-width: 300px;
$song-card-width-md: 190px;
$song-card-width-lg: 230px;
$song-card-width-4k: 350px;

$song-card-details-width: 240px;
$song-card-details-width-md: 130px;
$song-card-details-width-lg: 170px;
$song-card-details-width-4k: 290px;

$song-card-image-height: 180px;
$song-card-image-height-md: 140px;
$song-card-image-height-lg: 160px;
$song-card-image-height-4k: 200px;

// Dropdown Search
$dropdown-search-bg-color: $light-black;

$dropdown-search-width-4k: 400px;
$dropdown-search-width-lg: 500px;
$dropdown-search-width-md: 500px;
$dropdown-search-width: 400px;

$dropdown-search-title-width-4k: 320px;
$dropdown-search-title-width-lg: 420px;
$dropdown-search-title-width-md: 420px;
$dropdown-search-title-width: 320px;

$dropdown-search-input-height: 30px;
$dropdown-search-max-height: 600px;

// Playlist
$playlist-width: 400px;
$playlist-title-color: #d3d3d3;
$playlist-user-color: #939393;
$playlist-bg-color: $light-black;
$playlist-title-font-color: $gray;

// Player
$player-bg-color: $light-black;
$player-border-color: $black;
$player-button-color: $white;
